@import "vars"
@import "fonts"
@import "libs"
@import "_mixins/deltrans"

::placeholder
	color: #BEBEBE

::selection
	background-color: $accent
	color: #fff

html
    overflow: hidden
body
	background-color: $bgclr
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow: hidden
	min-height: 100vh
	height: 100%
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
	.fixed-background
		position: absolute
		bottom: -1px
		width: 100%

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

h1
	font-family: $bold
	font-size: 48px
	color: $accent
h2
	@extend h1
	font-size: 40px
	letter-spacing: .8px
    
input
	background-color: transparent
	font-family: $default-font
	font-size: 18px
	border-radius: 4px
	border: 1px solid #bebebe
	padding: 2px 5px 1px 20px
	width: 100%
	color: #bebebe

.slider-custom-arrows
	padding: 0
	margin: 0
	list-style-type: none
	width: 100%
	position: absolute
	top: 55%
	left: -19px
	transform: translateY(-50%)
	pointer-events: none
	.prev
		float: left
		pointer-events: visible
		cursor: pointer
		img
			transform: rotate(-180deg)
	.next
		float: right
		pointer-events: visible
		cursor: pointer


.modal-form
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%) scale(1.2)
    background-color: #2E3355
    border-radius: 10px
    padding: 18px 44px 44px 44px
    z-index: 10
    width: 1095px
    height: 595px
    opacity: 0
    visibility: hidden
    backface-visibility: hidden
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1)
    &.active
        visibility: visible
        opacity: 1
        transform: translate(-50%, -50%) scale(1)
    .modal-close
        position: absolute
        top: 20px
        right: 20px
        text-indent: 0!important
        cursor: pointer
        svg
            width: 44px
            height: 44px
    .modal-top
        h2
            text-align: center
            font-size: 28px
            margin-bottom: 27px
            color: #3C8AFF
        .paragraph-logo
            position: absolute
            top: 23px
            left: 97px
            img
                width: 70px
                height: 70px
    .modal-tabs
        margin-bottom: 20px
        ul
            padding: 0
            margin: 0
            list-style-type: none
            display: flex
            justify-content: space-between
            li
                display: inline-block
                cursor: pointer
                a
                    display: inline-block
                    font-family: $semibold
                    font-size: 20px
                    text-decoration: none
                    vertical-align: middle
                    padding-bottom: 1px
                    border-bottom: 1px solid #fff
                    color: $text
                    transition: all .35s ease-in-out
                i
                    font-size: 24px
                    vertical-align: middle
                    margin-left: 11px
                    transition: all .25s ease-in-out
                &:hover
                    a
                        border-color: $subaccent
                        color: $subaccent
                    i
                        color: $subaccent
                &.active
                    a
                        border-color: $subaccent
                        color: $subaccent
                    i
                        color: $subaccent
                    
    .modal-bottom
        p
            font-size: 18px
            line-height: 22px
            margin-bottom: 35px
            &:last-child
                margin-bottom: 0
            span
                &.accent-text
                    color: $subaccent
    .modal-main-tab
        display: none
        &.active
            display: block
        .tab-list
            ul
                padding: 0
                margin: 0
                list-style-type: none
                li
                    margin-bottom: 20px
                    cursor: pointer
                    a
                        display: inline-block
                        font-size: 18px
                        text-decoration: none
                        white-space: pre-line
                        color: $text
                        max-width: 400px
                        border-bottom: .5px solid #fff
                        padding-bottom: 10px
                        line-height: 22px
                        transition: all .35s ease-in-out
                    i
                        font-size: 24px
                        margin-left: 25px
                        transition: all .35s ease-in-out
                    &:last-child
                        margin-bottom: 0
                    &:hover
                        a
                            border-color: $subaccent
                            color: $subaccent
                        i
                            color: $subaccent
                    &.active
                        a
                            border-color: $subaccent
                            color: $subaccent
                        i
                            color: $subaccent
        .tab-content
            display: none
            max-height: 400px
            overflow-y: auto
            &::-webkit-scrollbar
                border: 1px solid #4180A3
            &::-webkit-scrollbar-thumb
                background-color: #56CCF2
                border-radius: 4px
            h3
                text-align: center
                margin-bottom: 15px
            ol
                padding: 0
                padding-left: 25px
                margin: 0
                li
                    font-size: 18px
                    line-height: 18px
                    margin-bottom: 8px
            p
                font-size: 18px
                line-height: 22px
                margin-bottom: 10px
                text-indent: 2.5em
            &.active
                display: block
                    
    &.about-service
        p
            text-indent: 50px
            &:first-child
                text-indent: 160px
    
            
.modal-overlay
    position: fixed
    width: 100%
    height: 100%
    background-color: rgba(#01061D, .6) 
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 9
    opacity: 0
    display: none
                
.main
	&__left-part
		header
			display: flex
			padding-top: 8px
			overflow: hidden
			.logo
				display: block
				max-width: 140px
				height: 140px
				margin-right: 27px
			nav
				margin-top: 22px
				ul
					padding: 0
					margin: 0
					list-style-type: none
					font-size: 0
					li
						display: inline-block
						margin-right: 68px
						a
							font-size: 20px
							text-transform: uppercase
							text-decoration: none
							color: #fff
							transition: all .25s ease-in-out
						&:last-child
							margin-right: 0
						&:hover
							a
								color: $accent
	&__right-part
		position: relative
		padding-top: 23px
		.slider
			&__calculator
				max-width: 600px
				margin: 0 auto 0 26px
				.main-description
					margin-bottom: 33px
					p
						font-size: 20px
						line-height: 24px
						color: $text
				.calc
					width: 100%
					margin-bottom: 11px
					&:last-child
						margin-bottom: 0
					&.range
						display: flex
						margin-bottom: 24px
						> div
							&:nth-child(1)
								flex: 0 0 22%
								margin-right: 3%
								span
									display: block
									font-size: 18px
									line-height: 19px
							&:nth-child(2)
								flex: 0 0 50%
								.range-slider
									background-color: transparent
									border: 1px solid #bebebe
									height: 15px
									margin-top: 5px
									.ui-slider-handle
										border-radius: 50%
										background-color: $accent
										border: none
										width: 20px
										height: 20px
										outline: none
										&:last-child
											display: none
									.ui-widget-header
										background-color: transparent
								.labels-slide
									display: flex
									justify-content: space-between
									width: 100%
									> div
										span
											font-size: 14px
							&:nth-child(3)
								flex: 0 0 22%
								margin-left: 3%
								margin-top: 3px
					&.multiselects
						display: flex
						justify-content: space-between
						input
							padding-left: 50px
							color: #fff
							cursor: pointer
						.select-country,
						.select-interests
							position: relative
							cursor: pointer
							.icons
								position: absolute
								top: 0
								left: 0
								width: 100%
								height: 36px
								display: flex
								justify-content: space-between
								align-items: center
								.icon
									margin-left: 15px
								.arrow
									margin-right: 10px
									&.open
										img
											transform: rotate(180deg)
							.dropdown
								position: absolute
								display: none
								background-color: #2E3355
								width: 100%
								border-radius: 0 0 4px 4px
								max-height: 135px
								overflow: auto
								ul
									padding: 10px 15px
									margin: 0
									list-style-type: none
									li
										position: relative
										text-align: center
										margin-bottom: 15px
										&:last-child
											margin-bottom: 0
										input
											position: absolute
											margin: 0
											z-index: -1
											opacity: 0
											width: 100%
											height: 100%
											+ label
												width: 100%
												margin: 0
												cursor: pointer
												span
													font-family: $lightweight
													font-size: 16px
													transition: all .5s ease-in-out
												&.checked
														span
															color: $accent
										&:hover
											label
												span
													color: $accent
												
						.select-country
							flex: 0 0 47% 
						.select-interests
							flex: 0 0 47%
					&.table-time
						margin: 22px 0
						table
							width: 100%
							max-width: 100%
							caption
								font-family: $default-font
								text-align: center
								font-size: 18px
								caption-side: top
								padding: 0
								color: $text
							thead
								tr
									th
										border: none
										padding: 0
										padding-bottom: 5px
										font-size: 18px
										text-align: center
										color: $text
							tbody
								line-height: 17.5px
								tr
									th
										border: none
										font-size: 18px
										text-align: left
										padding: 0
										width: 22px
										padding-right: 10px
										color: $text
									td
										border: 1px solid #fff
										padding: 0
										font-size: 0
										width: 22px
										vertical-align: middle
										border-color: #FBFBFB
										border-width: .5px
										color: $text
										div
											display: block
											width: 19px
											height: 13px
											margin: 0 auto
										&.table-selected
											div
												background-color: $subaccent
					&.deadlines
						display: flex	
						justify-content: space-between
						margin-bottom: 49px
						> div
							flex: 0 0 30%
							position: relative
							cursor: pointer
							&.month
								input
									text-align: center
							&.promocode
								input
									padding-left: 14px
							&.datepicker
								.icons
									pointer-events: none
								input
									text-align: center
									pointer-events: visible
							.icons
								position: absolute
								top: 0
								left: 0
								width: 100%
								height: 36px
								display: flex
								justify-content: space-between
								align-items: center
								.icon
									margin-left: 10px
								.arrow
									margin-right: 10px
									&.open
										img
											transform: rotate(180deg)
							.dropdown
								position: absolute
								display: none
								background-color: #2E3355
								width: 100%
								border-radius: 0 0 4px 4px
								max-height: 160px
								overflow: auto
								ul
									padding: 10px 15px
									margin: 0
									list-style-type: none
									li
										text-align: center
										margin-bottom: 15px
										&:last-child
											margin-bottom: 0
										a
											font-family: $lightweight
											font-size: 16px
											text-decoration: none
											transition: all .5s ease-in-out
											outline: none
											color: $text
										&:hover
											a
												color: $subaccent
					&.result-calc
						display: flex
						justify-content: space-between
						align-items: center
						> div
							&:first-child
								flex: 0 0 41%
							&:last-child
								flex: 0 0 54%
							p
								font-size: 42px
								text-align: center
								margin-bottom: 0
								line-height: 55px
								color: #56CCF2
							span
								display: block
								font-size: 14px
								text-align: center
								color: $text
							button
								background-color: #BEBEBE
								font-family: $bold
								font-size: 30px
								border: none
								outline: none
								text-transform: uppercase
								border-radius: 27px
								padding: 16px 40px
								line-height: 30px
								letter-spacing: 3px
								width: 280px
								color: $bgclr
								transition: all .25s ease-in-out
								&:active,
								&:hover
									background-color: $subaccent
									box-shadow: 0px 6px 13px rgba(86, 204, 242, 0.25)
									color: #fff
			&__description
				max-width: 600px
				overflow: auto
				margin: 0 auto 0 24px
				.overflow-container
					max-height: 620px
					overflow-y: auto
					&::-webkit-scrollbar
						border: 1px solid #4180A3
					&::-webkit-scrollbar-thumb
						background-color: #56CCF2
						border-radius: 4px
				h2
					margin-bottom: 52px
				p
					font-size: 20px
					line-height: 24px
					margin-bottom: 13px
					&:last-child
						margin-bottom: 0
					.word
						color: $accent
					.word1
						+delTrans($word1-len)
						span
							display: inline-block
							text-indent: 0
							transition: transform 1s linear, color 2s linear
						&:hover
							span
								transform: rotateX(-360deg)
				ol
					margin: 0
					padding: 0 0 0 20px
					li
						font-size: 20px
						line-height: 24px
						margin-bottom: 10px
						.word
							color: $accent
						.word1
							+delTrans($word1-len)
							span
								display: inline-block
								text-indent: 0
								transition: transform 1s linear, color 2s linear
							&:hover
								span
									transform: rotateX(-360deg)
					
		

@import "media" // Always at the end